.about{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 248px 96px;
}
.explain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px 60px;
    flex-basis: 40%;
}
.title{
    font-size: large;
    padding: 24px 0px;
}
.contents{
    font-size: medium;   
}