.nav{
    display: flex;
    justify-content: space-between;
    margin: 36px 24px;
}
.title{
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
    font-size: large;
}
.option{
    text-decoration: none;
    color: black;
    margin: 0 20px;
}